extends layout

block content
  h1 This is electronics.pug page
  p Welcome to Pug #{title}
    - let items = results

     div.container-fluid
    div.row
        each item,index in items
            div.col-sm-2
            div
            div(class="col-sm-2" onclick=`buy (${index})`) Type: #{item.type}
            div(class="col-sm-2" onclick=`buy (${index})`) Manufacturer: #{item.Manufacturer}
            div(class="col-sm-2" onclick=`buy (${index})`) Cost: $#{item.cost}
    script.
      function buy(itemNum){
        alert(`you purchased item ${itemNum+1}`)
     }

  